.gamefield{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.endturn{
    height: 30px;
    width: 90px;
}

.show{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.hide{
    display: none;
}

.battlefield{
    border: 5px solid blue;
    /* display: flex;
    flex-direction: column; */
    display: inline-block;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

h1{
    font-size: 25px;
    font-weight: bold;
}