.battlefield{
    border: 5px solid blue;
    /* display: flex;
    flex-direction: column; */
    display: inline-block;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}